<html>
  <head>
    <title>Learner's Background</title>
  <link rel="stylesheet" href="style/style.css" type="text/css">
  </head>
  <%= erb :"common/header" %>
  <body>
  <h2> Our Courses! </h2>
  <div class="navigation">
  <form>
    <p>Search for your degree: <input type="text" name="current_degree" value="<%= h @current_degree %>"/>
    <input type="submit" value="Search" /></p>
    
  </form>
  </div>
  <% if @courses.count > 0 %>
  <table>
    <tr>
      <th>Course ID</th>
      <th>Name</th>
      <th>description</th>
      <th>Year group</th>
      <th>Degree</th>
      <th>Paid</th>
      <th>Certificate</th>
      <th>Interest</th>
    </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= h course.id %></td>
      <td><%= h course.name %></td>
      <td><%= h course.description %></td>
      <td><%= h course.yeargroup %></td>
      <td><%= h course.degree %></td>
      <td><%= h course.paid %></td>
      <td><%= h course.certificate %></td>
      <td><%= h course.interest %></td>


    </tr>
  <% end %> 
  </table>
<% else %>
  <p>No courses Available</p>
<% end %>
    <h2>Enroll Now</h2>
    <form method="post"> 
      <p>
        User ID: <input type="text" name="id" value="<%= h @user.id %>"/> <br/>
        Full Name: <input type="text" name="fullName" value="<%= h @user.fullName %>"/>  <br/>
        Degree: <input type="text" name="degree" value="<%= h @user.degree %>"/>  <br/>
        CourseID: <input type="text" name="courseID" value="<%= h @user.courseID %>"/>  <br/>
      </p>
      <p><input type="submit" value="Enroll Now"></p>
    </form>
  </body>
   <%= erb :footer %>
</html>



